@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;1,100;1,200&family=Bellefair&display=swap');

body{
    color: white;
    background: url("../assets/technology/background-technology-mobile.jpg") bottom/cover no-repeat rgba(var(--clr-dark));
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.tech-img{
    width: 101%;
    height: 220px;
    background: url("../assets/technology/image-launch-vehicle-landscape.jpg") center/cover no-repeat;
}
.btn-grp{
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;

}
.btn-grp a{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 7px;
    border-color: rgba(255, 255, 255, .3);
    transition: .4s ease all;
}
.btn-grp a.active{
    background-color: white;
    color: black;
}
.btn-grp a:hover,
.btn-grp a:focus{
    border-color: rgba(255, 255, 255, .9);
}
.tech-text-box{
    padding: 10px 22px;
    margin-bottom: 4rem;
}
.texts{
    text-align: center;
}
.texts h5{
    font-family: 'Bellefair', serif;
    font-size: .9rem;
    font-weight: 200;
    letter-spacing: 1px;
    color: rgba(255, 255, 255,.5);
    margin: 20px auto 5px;
}
.texts h2{
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0px;
    margin:0;
}
.texts p{
    font-size: 1rem;
    font-family: 'Bellefair', serif;
    color: rgba(var(--clr-light));
}

.sec-title{
    margin: 15px auto 25px;
}



@media only screen and (min-width: 560px){
    body{
        background: url("../assets/technology/background-technology-tablet.jpg") bottom/cover no-repeat rgba(var(--clr-dark));
    }

    .tech-text-box{
        padding: 10px 22px;
        margin-bottom: 0rem;
    }

    .texts{
        max-width: 500px;
        margin: 0 auto;
    }
    .sec-title{
        margin: 55px 35px 30px;
    }
    .tech-img{
        width: 101%;
        height: 300px;
    }
    .btn-grp a{
        width: 40px;
        height: 40px;
    }
    .btn-grp{
        margin: 2rem auto;
    }
    .texts p{
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 950px){
    body{
        background: url("../assets/technology/background-technology-desktop.jpg") bottom/cover no-repeat rgba(var(--clr-dark));
    }
    .tech-img{
        max-width: 460px;
        height: 400px;
        background: url("../assets/technology/image-launch-vehicle-portrait.jpg") center/cover no-repeat;
    }
    .tech-section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        border: 1px solid whit;
        max-width: 1100px;
        margin-left: auto;
    }
    .tech-text-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-left: 5rem; */
    }
    .texts{
        text-align: left;
        max-width: 400px;
    }
    .btn-grp{
        flex-direction: column;
        margin: 0 2.5rem 0 0;
    }
    .btn-grp a{
        width: 56px;
        height: 56px;
        margin: 9px 0;
    }
    .texts{
        max-width: 440px;
        line-height: 1.3;

    }
    .texts h5{
        font-size: .8rem;
        margin: 20px auto 10px;
    }
    .texts h2{
        font-family: 'Bellefair', serif;
        font-size: 2.5rem;
        font-weight: 200;
        letter-spacing: 0px;
        margin:5px auto 10px;
    }
    .texts p{
        font-size: 1rem;
        font-family: 'Bellefair', serif;
        color: rgba(var(--clr-light));
    }
    .sec-title{
        margin-left: 10rem;
        border: 1px solid white;
        width: 40%;
    }
}